/*HEADER*/
.hdr{position: fixed;width: 100%;z-index: 999;background-color: transparent;border-bottom: 1.82px solid #494747;}
.nav>li>a {position: relative;display: block;padding: 10px 15px;font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;font-size: 14px;text-transform: uppercase;color: #ffffff;}
.nav>li>a:focus, .nav>li>a:hover {text-decoration: none;background-color: transparent;color: #f15822 !important;}
.navbar-nav{padding-top:14px;}
.scl_lst{list-style: none;overflow: hidden;padding-left:0px;}
.scl_lst li{float: left;text-decoration: none;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size: 12px;
color: #ffffff;padding-top: 24px;padding-right: 20px;}
.scl_lst li a{text-decoration: none;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size: 12px;color: #ffffff;}
.scl_lst li a:hover{text-decoration: none;background-color: transparent;color: #f15822 !important;}
.right_bar_call{font-family: 'Source Sans Pro', sans-serif;font-weight: 700;font-size: 12px;text-transform: uppercase;
color:#fff;}
.call_us{padding-top: 20px;}
.fa_icn{font-weight: 600;font-size: 12px;color: #f15822;}
.scroll_nav{position: fixed;width: 100%;z-index: 999;background-color: #fff;border-bottom: 1px solid #494747;}

/*BANNER*/
.bnr{background-size: cover;background: url("../images/banner.jpg");background-repeat:repeat;padding-top: 150px;padding-bottom: 90px;}
.bnr_txt{font-family: 'Roboto', sans-serif;font-size: 42px;text-transform: uppercase;font-weight: 700;color: #fff;}
.bnr_sub_txt{font-family: 'Roboto', sans-serif;font-size: 26px;text-transform: lowercase;font-weight: 500;color: #fff;margin: 0px;}
.bnr_reg_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:18px;color:#fff;margin:0px;}
.bnr_btn{padding:12px 20px 12px 20px !important;background-color: #f15822 !important;border-radius: 0px !important;
border-color:#f15822 !important;width:100%;}
.bnr_btn:hover {background: rgba(0,0,0,0) !important;color: #f15822 !important;box-shadow: inset 0 0 0 3px #f15822 !important;}
.btn_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 700;font-size:14px;color:#fff;}
.fa_icn1{color: #fff;padding-right: 10px;}
.btn_grp{clear: both;}
.reg_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:18px;color:#fff;}
.div_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:18px;color:#fff;}
.div_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:14px;color:#fff;margin: 0px;}
.div_cnt{background-color:#f15822;padding: 23px;width: 100%;}

/*about*/
.about_company{padding:60px 0 60px 0;}
.gre_18_source{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:18px;color:#454545;margin: 0px;}
.blu_30_rob{font-family: 'Roboto', sans-serif;font-size: 30px;font-weight: 500;color: #f15822;margin: 0px;}
.gre_16_source{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#454545;margin: 0px;}
.abt_lst{list-style: none;padding-left: 0px;}
.abt_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:20px;color:#303136;margin: 0px;}
.abt_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#77787e;margin: 0px;}
.abt_lst_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:20px;color:#454545;}
.abt_lst_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#454545;}
.relative_img{margin-top: 10px;position: absolute;}

/*how to use*/
.how_to_use{background-color:#f15822;padding: 60px 0 60px 0;}
.how_use_txt{font-family: 'Roboto', sans-serif;font-size: 30px;font-weight: 500;color: #fff;margin: 0px;}
.how_use_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#fff;margin: 0px;}
.use_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:20px;color:#303136;margin: 0px;}
.use_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#77787e;margin: 0px;}
.use_cnt{background-color:#fff;padding: 23px;width: 100%;}

/*reliable partners*/
.reliable_partners{padding:60px 0 60px 0;}
.center_img{display: block;margin-left: auto;margin-right: auto;width: 100%;}
.reliable_btn{padding:12px 20px 12px 20px !important;background-color: #f15822 !important;border-radius: 0px !important;
border-color:#f15822 !important;width:100%;}
.reliable_btn:hover {animation: bounce 1s;}
@keyframes bounce {
0%, 20%, 60%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
40% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
80% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
}

/*expert advice*/
.expert_advice{background-color:#f5f5f5;padding: 60px 0 60px 0;}
.exp_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:18px;color:#454545;margin:0px;}
.exp_adv_txt{font-family: 'Roboto', sans-serif;font-size: 30px;font-weight: 500;color: #f15822;margin: 0px;}
.exp_adv_sub_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#454545;margin: 0px;}
.icon-left {float: left;width: 67px;height: 66px;text-align: center;padding: 1.2em 0 0 0;margin-right: 1em;
background: #f15822;border-radius: 0px;}
.sec_five_icn{color: #FFFFFF;font-size: 2em !important;}
.chat_secfive{color: #303136;font-weight: 600;}

/*client says*/
.client_says{padding: 60px 0 80px 0;}
.slider_author{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:18px;color:#f15822;margin:0px;}
.slider_review{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:20px;color:#454545;margin:0px;}
.slider_review:after {content: '\f10d';font-family: fontAwesome;position: absolute;left: -15px; top: 20px;}
.slider_review_sub{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:16px;color:#454545;margin:0px;}
.carousel-control.left,.carousel-control.right{background-image: none !important;}
.custom_left{top:100% !important;left:48% !important;}
.custom_right{top:100% !important;right:30% !important;}
.name_auhtor{padding-top: 25%;}

/*footer*/
.footer{background-color:#29292c;padding: 60px 0 60px 0;}
.ftr_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;color:#58585d;margin:0px;}
.ftr_icn{list-style: none;padding-left: 0px;}
.ftr_icn li{float: left;}
.ftr_icn li a{padding-right: 20px;color:#58585d;}
.ftr_icn li a:hover{text-decoration: none;color:#f15822;}
.ftr_icn li.follow_ftr{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:16px;color:#dcdcde;margin:0px;
padding-right: 20px;}
.ftr_details{list-style: none;padding-left: 0px;}
.ftr_details li{padding-bottom:12px;}
.ftr_details li a{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;
color:#58585d;}
.ftr_details li a:hover{text-decoration: none;background-color: transparent;color: #f15822 !important;}
.ftr_head{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:16px;color:#dcdcde;margin:0px;
padding-bottom: 35px;}
.ftr_fa_icn {font-weight: 400;font-size: 14px;color: #f15822;}
.ftr_lst {list-style-type: none;margin: 0;padding: 0;overflow: hidden;}
.ftr_lst li {font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:16px;
color:#58585d;padding-bottom: 12px;}
.ftr_form{border-radius: 0px !important;height: 50px !important;padding: 10px 30px !important;}
.ftr_btn{border-radius: 0px !important;background: #f15822;padding: 20px 60px 20px 60px !important; 
border-color:#f15822 !important;width:100%;margin-top: 20px;}
.ftr_btn_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 600;font-size:16px;color:#ffffff;}
.ftr_btn:hover {background: rgba(0,0,0,0) !important;color: #f15822 !important;box-shadow: inset 0 0 0 3px #f15822 !important;}
.ftr_form_icn{position: relative;z-index: 2;bottom: -35px;top: auto;left: 6px;opacity: 0.8;color: #454545;}
.down_ftr{background-color:#f15822;padding: 15px 0 15px 0;}
.dwn_txt{font-family: 'Source Sans Pro', sans-serif;font-weight: 400;font-size:12px;color:#ffffff;margin:0px;}


/*MOBILE NAV*/
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #111;
overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;
transition: 0.3s;}
.sidenav a:hover {color: #f15822;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#main {transition: margin-left .5s;}
.hamburger{font-size:30px;cursor:pointer;color: #fff;display: none;}
.mobile_nav{display: none;}



/******MEDIA QUERY******/
@media (max-width: 992px){
    .mobile_nav{display: block;}
    .hamburger{display: block;}
    .desk_nav{display: none;}
    .bnr{padding-top: 60px;}
    .bnr_btn{margin-bottom: 20px;}
    .div_cnt{margin-bottom: 20px;}
    .on_mob{padding-bottom: 40px !important;}
    .relative_img{position: relative;}
    .use_cnt{margin-bottom: 20px;}
    .name_auhtor{padding-top: 10%;}
    .custom_left{left:20% !important;}
    .slider_review:after{left:20px;top:40px;}
    .slider_review{margin: 15px;}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1,
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3,
    #thumbnail-preview-indicators .slides .slide-4 {height: auto;}
    #thumbnail-preview-indicators .carousel-inner .item .carousel-caption{top:5% !important;}
    .bnr_sub_txt1{padding-bottom: 10px !important;}
    .carousel-indicators{display: none; }
    .bnr_txt{font-size: 40px;}
}

h1{margin: 0px !important;}
.bnr_overlay{width: 100%;height: 80vh;position: absolute;top: 0;left: 0;background-color: rgba(60,59,63,.6);}
#thumbnail-preview-indicators {position: relative;overflow: hidden;}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3,
#thumbnail-preview-indicators .slides .slide-4 {background-size: cover;background-position: center center;
background-repeat: no-repeat;}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3,
#thumbnail-preview-indicators .slides .slide-4 {height: 80vh;}
#thumbnail-preview-indicators .slides .slide-1 {background-image: url(../images/about_bnr.jpg); }
#thumbnail-preview-indicators .slides .slide-2 {background-image: url(../images/services.jpg);}
#thumbnail-preview-indicators .slides .slide-3 {background-image: url(../images/about_bnr.jpg);}
#thumbnail-preview-indicators .slides .slide-4 {background-image: url(../images/services.jpg);}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {top: 30%;bottom: inherit;}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {position: relative;width: 100px;height: 8px;  }
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {position: absolute;top: 0;width: 100px;
display: none;opacity: 0;left: 50%;margin-top: -80px;margin-left: -50px;}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {display: block;opacity: .8;}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{opacity: 1;}
@media screen and (max-width : 480px) {    
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {width: 50px;height: 8px;position: relative;}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {width: 50px;left: 50%;margin-top: -50px;
margin-left: -25px;}
}

.recent_work{padding: 60px 0 60px 0;}
.service_provider{background-color:#f15822;padding: 60px 0 60px 0;}
.service_prv_txt{font-family: 'Roboto', sans-serif;font-size: 30px;font-weight: 500;color: #ffffff;margin: 0px;}
.digital_services{padding: 60px 0 60px 0;}
.orane_bk_btn{padding: 12px 20px 12px 20px !important;background-color: #333 !important;border-radius: 0px !important;
border-color: #333 !important;width: 100%;}
.orane_bk_btn:hover {animation: bounce 1s;}
.bnr_fa{top: 40%;font-size: 40px !important;position: relative;}
.bnr_sub_txt1{font-family: 'Roboto', sans-serif;font-size: 26px;font-weight: 500;color: #fff;margin: 0px;}
